/* style.css */
body {
    margin: 20px;
    font-family: 'Times New Roman', Times, serif;
}

.avatar {
    width: 150px;
}

.card {
    width: 400px;
    margin: 0 auto;
    padding: 20px;
    display: flex;
    justify-content: space-around;
    text-align: center;
    background: #fdca53;
    color: #155d4a;
    border-bottom: 6px solid #6b1812;
}

.info {
    border: 2px dotted #f6a570;
    padding: 5px;
}
